body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.nav1 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1 i:hover {
    transform: scale(110%);
    color: black;
}

.nav1 h1 {
    border: 2px solid black;
    padding: 5px;
    font-weight: 500;
}

.nav1 input {
    width: 60px;
    text-align: center;
    border: none;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.nav1 input:hover {
    transform: scale(110%);

}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-left input:focus {
    outline: none;
}

.nav-left i {
    margin-left: 10px;
    color: rgb(87, 86, 86);
}

.nav-right i {
    color: rgb(87, 86, 86);
    margin: 5px;
    transition: transform 0.3s ease;
}


.nav2 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.199);
    padding-top: 10px;
    margin-bottom: 10px;
}

.nav2 a {
    text-decoration: none;
    color: black;
    margin: 14px;

}

#ana {
    color: #853de6;
}

.nav2 a:hover {
    color: #853de6;
}

.home {
    width: 100%;
    height: 50px;
    background-color: rgba(202, 202, 202, 0.288);
    display: flex;

}

.home p {
    margin-left: 20px;

}

.purple {
    color: #853de6;
}

 table {
    border-collapse: collapse;
     width: 70%;
     margin: 100px auto;
 }

 table img {
    width: 250px;
    object-fit: cover;
 }

 
 td {
     border: 1px solid grey;
     padding: 8px;
     text-align: center;
     margin: 0 auto;
 }

 .bold {
    font-weight: 600;
 }

 
 .quantity-input {
     display: flex;
     align-items: center;
     position: relative;
     margin: 0 auto;
     width: 100px;
 }

 .input1 {
     width: 90px;
     height: 30px;
     text-align: center;

 }

 .minus-btn,
 .plus-btn {
     width: 25px;
     height: 35px;
     background-color: white;
     border: none;
     cursor: pointer;
     color: #853de6;
     font-size: 20px;
     border: 1px solid #853de6;
     position: absolute;
 }

 .plus-btn {
     right: 2px;
 }

 .minus-btn:hover,
 .plus-btn:hover {
     transform: scale(105%);
 }

 .minus-btn:focus,
 .plus-btn:focus {
     outline: none;
 }

 .bt {
     width: 50px;
     height: 40px;
     background-color: #853de6;
     color: white;
     border-radius: 5px;
     margin-top: 10px;
     border: none;
     transition: transform 0.3s ease;
     margin-top: 20px;
 }

 .bt:hover {
    transform: translateY(-5px);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.76);
        cursor: pointer;
 }

 .cart-dt {
    width: 80%;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: -80px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(201, 201, 201);
    
 }

 .buttons {
    width: 500px;
    display: flex;
    gap: 25px;
    margin-bottom: 45px;

 }

 .bt-dt {
    width: 240px;
        height: 40px;
        background-color: #853de6;
        color: #d6bbec;
        border-radius: 5px;
        margin-top: 10px;
        border: none;
        transition: transform 0.3s ease;
 }

 .bt-dt:hover {
    transform: translateY(-5px);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.76);
        cursor: pointer;
 }

 .bt-dt2 {
     width: 240px;
     height: 40px;
     background-color: white;
     color: #853de6;
     border: 1px solid black;
     border-radius: 5px;
     margin-top: 10px;
     transition: transform 0.3s ease;
 }

 .bt-dt2:hover {
     transform: translateY(-5px);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.76);
     cursor: pointer;
 }
 .cart-dt p {
    color: grey;
    margin-top: -15px;
 }

 .cart-dt input {
    width: 280px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
 }

 .cart-dt h3 {
    font-size: 25px;
 }
 .bt-dt3 {
     width: 230px;
     height: 35px;
     background-color: #853de6;
     color: #d6bbec;
     border-radius: 5px;
     margin-top: 10px;
     border: none;
     transition: transform 0.3s ease;
 }

 .bt-dt3:hover {
     transform: translateY(-5px);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.76);
     cursor: pointer;
 }

 .coupon {
    margin-top: -15px;
 }


.right-dt {
    width: 280px;
}

h2 {
    text-align: right;
}

.span1 {
    margin-right: 160px;
}

.span2 {
    margin-right: 195px;
}

.right-dt p {
    margin-bottom: 30px;
    color: black;
    font-weight: 600;
}

.bt-dt4 {
    width: 280px;
    height: 50px;
    background-color: #853de6;
    color: #d6bbec;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    transition: transform 0.3s ease;
}

.bt-dt4:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.76);
    cursor: pointer;
}

.sixth {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;


}

.sixth img {
    width: 280px;
}

.address,
.number,
.email {
    display: flex;
    gap: 10px;
}

.sixth i {
    margin-top: 9px;
    height: 30px;
}

.sixth p {
    color: rgb(105, 105, 105);
    transition: transform 0.3s ease;
}

.sixth p:hover {
    transform: translatey(-3px);
    cursor: pointer;
}

#purple {
    color: #853de6;
}

.sixth div {
    height: 30px;
}

.a1 {
    margin-top: 60px;
}

.a2 {
    margin-top: 60px;
}

.wraper3 {
    position: relative;
    width: 220px;
    height: 30px;
}

.email {
    width: 220px;
    height: 30px;
}

.send {
    height: 36px;
    width: 60px;
    position: absolute;
    top: 0;
    right: -7px;
    background-color: #853de6;
    color: #d6bbec;
    font-size: 12px;
    transition: transform 0.3s ease;
}

.send:hover {
    transform: scale(105%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.76);
    cursor: pointer;
}



.seventh {
    width: 100%;
    height: 40px;
    text-align: center;
}



